@import "tailwindcss";

@keyframes wordFade {
      0% { opacity: 0; transform: translateY(10px); }
      20% { opacity: 1; transform: translateY(0); }
      40% { opacity: 1; transform: translateY(0); }
      60% { opacity: 0; transform: translateY(-10px); }
      100% { opacity: 0; }
    }

    .word {
      opacity: 0;
      display: inline-block;
      animation: wordFade 6s ease-in-out infinite;
    }